<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Results</title>
<link rel="stylesheet" href="../static/recipe.css">
   
</head>
<body>
   
         
    <h1>Recipe Results</h1>
    <div class="main">
    {% for recipe in recipes %}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                
                {% if recipe.recipe.image %}
                <img src="{{ recipe.recipe.image }}" alt="Recipe Image" width="100">
            {% else %}
                No image available
            {% endif %}
            </div>
            <div class="flip-card-back">
                <strong>{{ recipe.recipe.label }}</strong><br>
                Ingredients: {{ recipe.recipe.ingredientLines|join(', ') }}<br>
               
            </div>
        </div>
    </div>
    
    {% endfor %}
    </div>
</body>
</html>
