<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> S.A.C.E.S</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/center-style.css">
    <link rel="stylesheet" href="../static/style/review.css">
</head>
<body>
    <div class ='head'>
        <nav  class="navbar"><a href="#" class="sc-name " >S.A.C.E.S APP</a>
        
          <ul class="nav-menu">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="games-index" class="nav-link">Games</a></li>
            <li class="nav-item"><a href="recipe" class="nav-link">Recipe</a></li>
            <li class="nav-item"><a href="feedback" class="nav-link">Feedback</a></li>

            </ul>


<div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>

</nav>

    </div>
    <div class="body">
<div class ='container'>
        <div class="big-text">
  trying out  <b>something</b>
        </div>
        <div class="small-text">info of  something you should  
            know
        </div>
        <div class="btns">      
      
        <a href="./games-index.html"><input class="btn" type="submit" value="play Games"></a>
       <a href="./index.html"> <input class="btn-2" type="submit" value="Review us!!!"></a>
</div></div>  
<div class="img">
    <img src="../static/assets/bg-v2.png" alt="doing image">
</div>
    </div>


    <div class="info-data">
        
        <div class="abt-us">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Odit illum autem aliquid repellat ab cupiditate, dolorum deleniti minus rerum inventore
             dolor, non atque consectetur quo repellendus. 
             Nulla velit rem excepturi eligendi corporis explicabo iusto officiis eius,
              obcaecati tempore? Tempora, ex velit dolorem quasi adipisci nulla possimus,
             voluptas doloribus alias sit provident dolor corrupti perspiciatis? Fuga, possimus!</div>
             <img src="../static/assets/content-img.png" alt="">
            </div>

         <div class="center"> 
            
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <!-- Front content -->
                        <div class="logo"><img src="../static/assets/something1.png" alt="Logo"></div>
                        <div class="content">
                            <div class="title">Something1</div>
                            <div class="caption">Why this something?</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <!-- Back content -->
                        <p>Loremit. Numquam optio repellendus provident esse sapiente, vel asperiores, sequi reiciendis consectetur dignissimos nam ad ipsum eius n repudiandae vero beatae ratione ex. Sapiente, rem!</p>
                    </div>
                </div>
            </div>
            
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <!-- Front content -->
                        <div class="logo"><img src="../static/assets/something1.png" alt="Logo"></div>
                        <div class="content">
                            <div class="title">Something1</div>
                            <div class="caption">Why this something?</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <!-- Back content -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam optio repellendus provident esse sapiente, vel asperiores, sequi reiciendis consectetur dignissimos nam ad ipsum eius n repudiandae vero beatae ratione ex. Sapiente, rem!</p>
                    </div>
                </div>
            </div>
            
    
   

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <!-- Front content -->
                <div class="logo"><img src="../static/assets/something1.png" alt=""></div>
        <div class="content">
            <div class="title"> something1</div>
            <div class="caption"> why this something?</div>
        </div>
            </div>
            <div class="flip-card-back">
                <!-- Back content -->
                <p>Lorem, ipsum dolor sit amet consectetur
                     adipisicing elit. Numquam optio repellendus
                      provident esse sapiente, 
                      vel asperiores, sequi reiciendis
                       consectetur dignissimos nam ad i
                     psum eius n
                     repudiandae vero beatae ratione ex. Sapiente, rem!</p>
            </div>
        </div>
    </div>
    
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <!-- Front content -->
                <div class="logo"><img src="../static/assets/something1.png" alt=""></div>
        <div class="content">
            <div class="title"> something1</div>
            <div class="caption"> why this something?</div>
        </div>
            </div>
            <div class="flip-card-back">
                <!-- Back content -->
                <p>Lorem, ipsum dolor sit amet consectetur
                     adipisicing elit. Numquam optio repellendus
                      provident esse sapiente, 
                      vel asperiores, sequi reiciendis
                       consectetur dignissimos nam ad i
                     psum eius n
                     repudiandae vero beatae ratione ex. Sapiente, rem!</p>
            </div>
        </div>
    </div>
    

   </div>
   <div class="main" style="background-color: white;">
        
    <h3>lorkjsde</h3>
    
    <p>
    Lomolestiae mollitia culpa tempora accusantium?
    Temporibus alias quas nemo voluptas perspiciatis, iste officiis aperiam.
</p>
   </div>
    <div class="lower">
    <div class="reviews">
        <div class="name"> aamir khan</div>
        <div class="review"> har k jeetne  waale ko baazigar kehte h</div>
    </div>
</div>
    

  

         <div class="socials">
            <img src="../static/assets/Instagram.png" alt="something">
            <img src="../static/assets/Facebook-1.png" alt="something">
            <img src="../static/assets/Account.png" alt="something">
            <img src="../static/assets/Place Marker.png" alt="something">
            <img src="../static/assets/Gmail Logo.png" alt="something">

            
         </div>

       <footer>
       <div class="footer">

        <div class="side1">
           S.A.C.E.S
        </div>
        <div class="side2">
            <b>somthing</b>
            <li> annn</li>
            <li>fnsjkb</li>
            <li>jjvk</li>
<li>jsefk</li>
        </div>
        <div class="side3">
            <b>somthing</b>
            
            
                <li> annn</li>
            <li>fnsjkb</li>
            <li>jjvk</li>
            <li>jsefk</li>
        </div>
        <div class="side4">
            <b>something</b>
            <li> annn</li>
            <li>fnsjkb</li>
            <li>jjvk</li>
            <li>jsefk</li>
        
        </div>
       <div class="footer"></div>
               </footer>
            <div class="end">
      
                <p >@copyright2024 made by 6th Std</p>
                </div>

            </body>
</html>