<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> S.A.C.E.S</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/center-style.css">
    <link rel="stylesheet" href="../static/style/review.css">
</head>
<body>
    <div class ='head'>
        <nav  class="navbar"><a href="#" class="sc-name " >S.A.C.E.S APP</a>
        
          <ul class="nav-menu">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="games-index" class="nav-link">Games</a></li>
            <li class="nav-item"><a href="recipe" class="nav-link">Recipe</a></li>
           

            </ul>


<div class="hamburger">
   
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">See Games</button>
        <div id="myDropdown" class="dropdown-content">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="games-index" class="nav-link">Games</a></li>
            <li class="nav-item"><a href="recipe" class="nav-link">Recipe</a></li>
            
        </div>
      </div>
</div>

</nav>

    </div>
    
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    <div class="body">
<div class ='container'>
        <div class="big-text">
  Our Landing<b>Page</b>
        </div>
        <div class="small-text">Made using  HTML and CSS
        </div>
        <div class="btns">      
      
        <a href="./games-index.html"><input class="btn" type="submit" value="play Games"></a>
       <a href="./index.html"> <input class="btn-2" type="submit" value="Review us!!!"></a>
</div></div>  
<div class="img">
    <img src="../static/assets/bg-v2.png" alt="doing image">
</div>
    </div>


    <div class="info-data">
        
        <div class="abt-us">HTML (Hypertext Markup Language):
            HTML provides the structural framework for web pages.
            It defines the layout, text, images, and links on a webpage.
            Advantages:
            Widely Supported: All browsers recognize HTML, ensuring consistent rendering.
            Learnability: It’s easy to learn and use.
            Foundation: HTML, along with graphics and scripting, forms the basis for web development.
            
            CSS
            
            CSS (Cascading Style Sheets):
            CSS controls the visual design and layout of web elements.
            It allows designers to:
            Define fonts, colors, spacing, and responsive designs.
            Maintain consistency across a website.
            Advantages:
            Visual Presentation: Enhances aesthetics.
            Separation of Concerns: Separates content from presentation.
            Efficiency: Global design changes via CSS rules.</div>
             <img src="../static/assets/content-img.png" alt="">
            </div>

         <div class="center"> 
            
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <!-- Front content -->
                        <div class="logo"><img src="../static/assets/something1.png" alt="Logo"></div>
                        <div class="content">
                            <div class="title">Streamlined Collaboration</div>
                            <div class="caption">How knowledge of HTML and CSS enhance collab?</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <!-- Back content -->
                        <p> Understanding these languages helps professionals collaborate effectively with web developers, streamlining communication and saving time1.</p>
                    </div>
                </div>
            </div>
            
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <!-- Front content -->
                        <div class="logo"><img src="../static/assets/something1.png" alt="Logo"></div>
                        <div class="content">
                            <div class="title">Visual Enhancement</div>
                            <div class="caption">What role does CSS play in web design?</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <!-- Back content -->
                        <p>CSS dresses up HTML’s raw structure, applying formatting (fonts, colors, layouts) to create visually appealing web pages</p>
                    </div>
                </div>
            </div>
            
    
   

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <!-- Front content -->
                <div class="logo"><img src="../static/assets/something1.png" alt=""></div>
        <div class="content">
            <div class="title"> Faster Page Speed</div>
            <div class="caption"> How does CSS impact page speed?
            </div>
        </div>
            </div>
            <div class="flip-card-back">
                <!-- Back content -->
                <p>By enabling concise code, CSS contributes to faster loading times for web pages3.</p>
            </div>
        </div>
    </div>
    
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <!-- Front content -->
                <div class="logo"><img src="../static/assets/something1.png" alt=""></div>
        <div class="content">
            <div class="title"> Consistent Styling</div>
            <div class="caption">What advantage does CSS offer?</div>
        </div>
            </div>
            <div class="flip-card-back">
                <!-- Back content -->
                <p>CSS ensures consistent styling across various sites, making web content visually cohesive4.</p>
            </div>
        </div>
    </div>
    

   </div>
   <div class="main" style="background-color: white;">
        
    <h3>lorkjsde</h3>
    
    <p>
    Lomolestiae mollitia culpa tempora accusantium?
    Temporibus alias quas nemo voluptas perspiciatis, iste officiis aperiam.
</p>
   </div>
    <div class="lower">
    <div class="reviews">
        <div class="name"> aamir khan</div>
        <div class="review"> har k jeetne  waale ko baazigar kehte h</div>
    </div>
</div>
    

  

         <div class="socials">
            <img src="../static/assets/Instagram.png" alt="something">
            <img src="../static/assets/Facebook-1.png" alt="something">
            <img src="../static/assets/Account.png" alt="something">
            <img src="../static/assets/Place Marker.png" alt="something">
            <img src="../static/assets/Gmail Logo.png" alt="something">

            
         </div>

       <footer>
       <div class="footer">

        <div class="side1">
           S.A.C.E.S
        </div>
        <div class="side2">
            <b>somthing</b>
            <li> annn</li>
            <li>fnsjkb</li>
            <li>jjvk</li>
<li>jsefk</li>
        </div>
        <div class="side3">
            <b>somthing</b>
            
            
                <li> annn</li>
            <li>fnsjkb</li>
            <li>jjvk</li>
            <li>jsefk</li>
        </div>
        <div class="side4">
            <b>something</b>
            <li> annn</li>
            <li>fnsjkb</li>
            <li>jjvk</li>
            <li>jsefk</li>
        
        </div>
       <div class="footer"></div>
               </footer>
            <div class="end">
      
                <p >@copyright2024 made by 6th Std</p>
                </div>

            </body>
</html>